<header>
  <ul>
    <li class="<%= params === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
    <li class="<%= params === 'news' ? 'active' : '' %>"><a href="news">News</a></li>
    <li class="<%= params === 'about' ? 'active' : '' %>"><a href="about">About</a></li>
  </ul>
</header>
